* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ⬆⬆ RESET CSS ⬆⬆ */

* {
    font-family: "Roboto Mono", monospace;
}

body {
    overflow: hidden;
}

.Task {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    background-color: #fcffeb;
    width: 550px;
    height: 60px;
    margin: 20px;
    border-radius: 30px;
}


.buttonNewTask {
    background-color: #1b1a1a;
    border: none;
    outline: none;
}

/* TODO */

.buttonUserToDo {
    background-color: #1b1a1a;
    border: none;
    outline: none;
}


/* TASK */

.motionWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column-reverse;
    width: 750px;
}

/* NEW TASK */

.Text,
.inputTask {
    color: #1b1a1a;
    font-weight: 600;
    font-size: 20px;
}

.inputWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    background-color: #fcffeb;
    width: 550px;
    height: 60px;
    margin: 20px;
    border-radius: 30px;
}

.closeInput {
    display: none;
}

.inputTask,
.inputButton {
    background-color: #fcffeb;
    border: none;
    outline: none;
}

/* SIGN UP */

.signUp {
    display: flex;
    background-color: #fcffeb;
    height: 40%;
    position: absolute;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: 0;
}

.divButtonIconX {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-right: 30px;
}

.buttonCloseSign {
    background-color: #fcffeb;
    outline: none;
    border: none;
}

.tituloSignUp {
    color: #1b1a1a;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
}

.formSignUp {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 30px;
}

.divTextoEInput {
    display: flex;
    flex-direction: column;
}

.input {
    background-color: #fcffeb;
    border: none;
    border-bottom: #1b1a1a solid 3px;
    outline: none;
    margin-top: 20px;
    color: #1b1a1a;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 10px;
    font-weight: bold;
}

.sendSign {
    color: #fcffeb;
    font-size: 20px;
    font-style: italic;
    border: none;
    height: 50px;
    border-radius: 10px;
    margin-top: 50px;
    background-color: #1b1a1a;
    width: 85%;
}